body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Source Sans Pro', 'Poppins';
}

.container {
	width: 80%;
	margin: 0 auto;
	position: relative;
}



header {
	width: 100%;
	background: #fff;
	color: #444;
	padding: 100px 0 30px 0;
}

	h1 {
		text-transform: uppercase;
		font-size: 80px;
		letter-spacing: 10px;
		margin: 0;
		text-align: center;
	}

	h2 {
		text-transform: uppercase;
		font-size: 40px;
		letter-spacing: 10px;
		text-align: center;
		margin: 20px 0;
	}

	nav {
		border-top: 1px solid #777;
		border-bottom: 1px solid #777;
		padding: 20px 0;
		font-size: 20px;
		margin-top: 40px;
	}

	nav i,
	nav a {
		margin: 0 20px;
		cursor: pointer;
	}

	#left {
		text-align: left;
	}

	#right {
		float: right;
	}

	nav a {
		text-decoration: none;
		color: #444;
	}



#top {
	background: url(../img/banner2.jpg);
	background-size: cover;
	height: 600px;
	padding-top: 300px;
}

	#top img {
		width: 100%;
	}

	#t-msg {
		width: 400px;
		margin: 0 auto;
		background: rgba(255,255,255,0.8);
		text-align: center;
		text-transform: uppercase;
		text-shadow: 0 1px 5px #777;
		padding: 50px 100px;
		color: #0f0f0f;
	}

	#t-msg h3 {
		font-weight: bold;
		font-size: 42px;
		margin: 0;
	}

	#lm {
		background: #fff;
		border: none;
		box-shadow: 0 1px 5px #aaa;
		padding: 20px 40px;
		text-transform: uppercase;
		cursor: pointer;
	}

	#lm:hover {
		background: #0f0f0f;
		color: #fff;
	}



aside {
	border: 1px solid #ddd;
	padding: 20px;
	width: 25%;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	box-sizing: border-box;
}

	#s-img {
		padding-top: 20px;
		border-top: 1px solid #ddd;
	}

	#s-img img {
		width: 100%;
	}

	#sf input {
		background: #fff;
		border: 1px solid #ddd;
		text-transform: uppercase;
		color: #ccc;
		padding: 12px 10px;
	}

	aside h4 {
		text-align: center;
		text-transform: uppercase;
		padding-top: 30px;
		font-size: 24px;
	}

	#soy p {
		text-align: center;
	}

	.ai {
		margin: 0 10px;
		cursor: pointer;
		color: #ccc;
	}

	.ai:hover {
		color: #0f0f0f;
	}

	#soy-lm {
		background: #0f0f0f;
		color: #fff;
		border: none;
		box-shadow: 0 1px 5px #aaa;
		margin-top: 20px;
		padding: 15px 35px;
		text-transform: uppercase;
		cursor: pointer;
	}

	#soy-lm:hover {
		background: #fff;
		color: #0f0f0f;
	}

	ul {
		padding: 0;
	}

	ul li {
		list-style: none;
		text-align: left;
		border-top: 1px solid #ddd;
		padding: 10px 0;
		text-transform: uppercase;
		cursor: pointer;
	}

	ul li:hover {
		color: #aaa;
	}

	ul li:last-child {
		border-bottom: 1px solid #ddd;
	}

	.num {
		float: right;
		font-weight: bold;
	}

	h5 {
		margin: 0;
		font-size: 20px;
		text-transform: uppercase;
	}

	table {
		width: 100%;
		border-bottom: 1px solid #ddd;
	}

	td {
		border-top: 1px solid #ddd;
		padding: 20px 0;
		margin: 0;
		box-sizing: border-box;
		text-align: left;
		padding-left: 18px;
	}

	td img {
		width: 100%;
	}

	td.td-img {
		width: 110px;
		padding-left: 0;
	}

	td p {
		font-size: 16px;
		text-transform: uppercase;
	}

	.date {
		float: left;
	}

	.likes {
		float: right;
	}

	table#insta {
		border-bottom: 0;
		border-top: 1px solid #ddd;
		padding-top: 15px;
	}

	#insta td {
		border-top: 0;
		padding: 0 2px;
		margin: 0;
		box-sizing: border-box;
	}

	#tags {
		text-align: left;
	}

	#tags h4 {
		border-bottom: 1px solid #ddd;
		padding-bottom: 40px;
	}

	#tags a {
		display: inline-block;
		border: 1px solid #ddd;
		padding: 10px;
		text-transform: uppercase;
		font-size: 18px;
		color: #ddd;
		text-decoration: none;
		margin: 0 5px 8px 0;
	}



#posts {
	width: 70%;
	margin-top: 30px;
}

	.post {
		margin-bottom: 40px;
	}

	.post img {
		width: 100%;
		margin: 0;
	}

	.post-info {
		border: 1px solid #ddd;
		margin: 0;
		margin-top: -10px;
		padding: 60px;
		text-align: center;
		font-size: 16px;
	}

	.p-tags a {
		margin: 10px 15px 0 0;
		font-size: 14px;
		color: #777;
		text-transform: uppercase;
		text-decoration: none;
	}

	h4 {
		text-transform: uppercase;
		font-size: 36px;
		margin: 25px 0;
	}

	.user,
	.calendar {
		margin: 0 20px;
		color: #777;
		text-transform: uppercase;
		font-size: 14px;
	}

	.post-button {
		background: #fff;
		border: none;
		box-shadow: 0 1px 5px #aaa;
		padding: 15px 30px;
		text-transform: uppercase;
		cursor: pointer;
		margin: 10px 0;
	}

	.post-button:hover {
		background: #0f0f0f;
		color: #fff;
	}

	.post-foot {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		color: #bbb;
		padding: 10px 0;
		text-align: left;
		font-size: 14px;
		text-transform: uppercase;
		margin-top: 30px;
	}

	.pf-right {
		float: right;
	}

	.pf-right span {
		margin: 0 10px;
	}

	iframe {
		width: 100%;
	}

	blockquote {
		font-style: italic;
	}

	#antiguos {
		float: right;
		background: #fff;
		border: none;
		border-radius: 50px;
		box-shadow: 0 1px 5px #aaa;
		padding: 15px 30px;
		text-transform: uppercase;
		cursor: pointer;
		margin: 10px 0;
	}

	#antiguos:hover {
		background: #0f0f0f;
		color: #fff;
	}

	#posts {
		margin-bottom: 150px;
	}



footer {
	width: 100%;
	background: #0f0f0f;
	color: #fff;
	padding: 100px 0;
	font-size: 14px;
}

	#drama {
		width: 20%;
	}

	#drama img {
		width: 100%;
	}

	#drama h5 {
		font-size: 24px;
	}

	h6 {
		font-size: 20px;
	}

	#recientes {
		width: 40%;
	}



@media (max-width: 1500px) {
	#posts {
	width: 67%;
	}


	.ai {
		margin: 0 5px;
	}
}

@media (max-width: 1130px) {
	.links {
		visibility: hidden;
	}

	aside {
		font-size: 1rem;
	}

	#posts {
	width: 65%;
	font-size: 3rem;
	}

	.post-foot {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		color: #bbb;
		padding: 10px 0;
		text-align: center;
		font-size: 14px;
		text-transform: uppercase;
		margin-top: 30px;
	}

	.pf-right {
		display: block;
		float: none;
		margin-top: 10px;
	}
}

@media (max-width: 1126px) {
	#right {
		margin-top: -27px;
	}
}

@media (max-width: 986px) {
	.links {
		visibility: hidden;
	}

	#right {
		margin-top: -27px;
	}
}

@media (max-width: 940px) {
	#t-msg {
		visibility: hidden;
	}

	aside {
		width: 100%;
		position: unset;
		text-align: center;
		margin-bottom: 30px;
		margin: 0;
	}

	#posts {
		width: 100%;
	}

	#drama {
		width: 100%;
	}
}